<div class="container-editor">
    <h1>
        Ingresar Texto
    </h1>
    <textarea [(ngModel)]="str" class="textarea"></textarea>
    <div class="container-button">
        <button class="button" id="accion" (click)="Graficar()">Graficar</button>
        <button class="button" id="set" (click)="Ejecutar()">Ejecutar</button>
    </div>
    <h1>
        AST
    </h1>
    <div class="over">
        <img [src]="this.imagen">
    </div>
    <h1>
        Tabla
    </h1>
    <div>
        <table class="content-table">
        <thead>
          <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>Points</th>
            <th>linea</th>
            <th>columna</th>
          </tr>
        </thead>
        <tbody>
            <tr class="content-table" *ngFor="let item of this.diccionario | keyvalue">
                <td>
                    {{
                        item.key
                    }}
                </td>
                <td>
                    <app-fila [llave] = "'valor'" [objetoValor] = "item.value"></app-fila>
                </td>
                <td>
                    <app-fila [llave] = "'tipo'" [objetoValor] = "item.value"></app-fila>
                </td>
                
            </tr>
        </tbody>
        
    </table>

    </div>
</div>